@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Pacifico&display=swap');
body{
    background-color: black !important;
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}
img{
    max-width: 45vh;
    min-width: 10vh;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.Heading1{
    font-size: 4.5vh;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 5px 10px rgb(145, 128, 128);
}
.Heading2{
    font-size: 3.5vh;
}
.Paragraph1{
    font-size: 2.5vh;
}
.link{
    font-size: 2.5vh;  
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }